.grid {
    display: grid;
    grid-template-columns: minmax(100px, 2fr) minmax(50px, 1fr) minmax(100px, 2fr) minmax(50px, 1fr);
    column-gap: 8px;
}

.header {
    display: flex;
    align-items: center;
    font-weight: 500;
    height: 32px;
    font-size: 16px;
    cursor: pointer;
    user-select: none;
}

.header:hover {
    background-color: azure;
}

.help-text {
    font-style: italic;
    grid-column-start: 1;
    grid-column-end: span 4;
}